
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');


:root{
    --color-primary-blue: #004481;
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}


h2{
    text-align: center;
}
p{
    margin: 1em 0;
}

a{
    text-decoration: none;
}

main{
    padding: 8em 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.content{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
    margin: .5em 0;
}
input {
    padding: .5em;
    width: 100%;


}

button{
    border-width: 0;
    border-radius: 6px;
    text-transform: uppercase;
    background-color: var(--color-primary-blue);
    color: white;
    padding: 1em 4em;
    box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 50%);
    letter-spacing: 1.25px;
    min-width: 200px;
    max-width: 200px;
}





.menu-bars{
    position: relative;
    right: 5rem;
    z-index: 10;
    cursor: pointer;
}


.menu-bar1,
.menu-bar2,
.menu-bar3{
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 5px;
}


.change-menu-bar1 {
    transform: rotate(-45deg) translate(-8px, 8px);
    border-radius: 5px;
}

.change-menu-bar2 {
    opacity: 0 ;
    border-radius: 5px;
}

.change-menu-bar3 {
    transform: rotate(45deg) translate(-8px, -8px);
    border-radius: 5px;
}



.navbar{
    width: 100vw;
    position: fixed;
    display: flex;
    padding: 2em;
    justify-content: space-between;
    background-color: var(--color-primary-blue);
    z-index: 5;
}

.dropdown{
    position: relative;
}

.animateIn{
    animation: slide-in 0.2s linear 0.2s both;
}
.animateOut{
    animation: slide-out 0.2s linear 0.2s both;

}


@keyframes slide-out {
    from
    {
        transform: translateX(0%);
    }
    to
    {
        transform: translateX(-100%);
    }

}

@keyframes slide-in {
    from
    {
        transform: translateX(-100%);
    }
    to
    {
        transform: translateX(0%);
    }

}

.dropdown__links{
    width: 100%;
    background-color: var(--color-primary-blue);
    padding: 2em;
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5em;
    height: 100vh;
    z-index: -1;


}
.navbar h3{
    color: white;
}


.dropdown__links a{
    text-decoration: none;
    text-transform: uppercase;
    color: aliceblue;
}

.dropdown__links a:hover{
  color: aqua;
}









button:active{
    transform: scale(95%);
}

button:disabled{
    transform: scale(100%);
    background-color: grey;
}



.admin__row{
    display: flex;
    gap: 1em;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-direction: column;
}
.admin__row select{
 height: fit-content;
    flex: 2;
}



.admin__layout{

    display: grid;

}

.admin-form{
    width: 100%;

}

.edit__card{

    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 50%);
    padding: 1em;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.edit__card h3{
    text-align: center;
    margin-bottom: 2em;
}



.edit__card__row{
    display: flex;
}


.edit__card__row p{
    flex: 1;
}


